#Default Parameters needed for a YAML file
openapi: 3.0.0
servers:
  - url: 'https://sandbox.api.ndi.gov.sg/TBC' #sandbox API link
    description: NDI API Sandbox
info:
  version: 0.3.2
  title: National Digital Identity (NDI) - ASP API
  termsOfService: 'https://www.ndi-api.gov.sg/termsofuse/'
  contact:
    email: ndi_support@ndi.gov.sg
  x-logo:
    url: '/assets/lib/trusted-access/img/ndi-logo-sm.png'
  description: |
    This is the API store where you can discover everything about integrating
    with the National Digital Identity (NDI) platform. 

    # Release Notes
      * 0.3.2 (Release Date)
        * Initial release of API

    # Overview

    # Environment

      ## Available Environments
      
      Sandbox/Dev: https://sandbox.api.ndi.gov.sg/<TBC>


#The above sections starting with # indicates a section by itself. To add more content simply Use # to represent a new section
#These are all non APIs related documentations, API definitions should all be below

#These are the tags for the side bar (the one on the left)
tags:
  - name: User-details-Retrieval
    description: Services in this category are meant to retrieve information about NDI from the user. The ndi_id and uuid are the primary identifier for these functions
  - name: Form-Factor-Updates
    description: >-
      Services in this category are operations to create or update form factor. In order to perform operations, developers have to understand the important fields to update form factor
      <table>
        <tr>
          <th>S/N</th>
          <th>Request Field</th>
          <th>Description</th>
        </tr>

        <tr>
          <td>1.</td>
          <td>ndi_id</td>
          <td>The user NDI id.</td>
        </tr>

        <tr>
          <td>2.</td>
          <td>uuid</td>
          <td>The user uuid.</td>
        </tr>

        <tr>
          <td>3.</td>
          <td>cert_sn</td>
          <td>The cert serial number of the certificate issued to this form
            factor of the user.</td>
        </tr>

        <tr>
          <td>4.</td>
          <td>ff_id</td>
          <td>The form factor id, this is specific to the form factor type.</td>
        </tr>

        <tr>
          <td>5.</td>
          <td>ff_type</td>
          <td>The form factor type.</td>
        </tr>
        
        <tr>
          <td>6.</td>
          <td>ff_host</td>
          <td>The short info of the device hosting the form factor, for example the mobile device model.</td>
        </tr>

        <tr>
          <td>7.</td>
          <td>preferred</td>
          <td>This is usually set to 'y' to indicate that it is the user's preferred form factor, otherwise it will be set to 'n'.</td>
        </tr>

        <tr>
          <td>8.</td>
          <td>use_for</td>
          <td>The intended usage of this form factor, default to 'authn' if not provided</td>
        </tr>

        <tr>
          <td>9.</td>
          <td>ial</td>
          <td>The assurance level achieved by the identity assurance method usaed to verify the user's identity during this form factor enrolment,
        may be '1', '2', '3'. Default to '1' if not provided </td>
        </tr>

        <tr>
          <td>10.</td>
          <td>ia_meth</td>
          <td>The name of the identity assurance method used</td>
        </tr>

        <tr>
          <td>11.</td>
          <td>ff_attr</td>
          <td>The form factor attributes, provided in JSON format.  This is
            specific to the form factor type, e.g. the push notification
            registration token to the host mobile device</td>
        </tr>

        <tr>
          <td>12.</td>
          <td>req_id</td>
          <td>The client id of the client sending this registration request</td>
        </tr>
      </table>

  - name: Client-App
    description: Service to get client details
#End of side tags

#Start of API Reference
#=============================== Directory User start ===========================    
# Directory >> uuid
paths:
  '/directory/users/{user_id}/uuid':
    get:
      tags:
        - User-details-Retrieval
      summary: Get uuid of the user
      description: >-
        Get system generated unique identifier of the user. If user is not found
        in the NDI user directory, generate and return a new uuid for the user
      operationId: getUuidById
      parameters:
        - name: user_id
          in: path
          description: >-
            User id. It is not to be in the clear, the SHA256 hash value of the
            user id is to be sent, in base64 url encoded format
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: 
                  type: object
                  properties: 
                      uuid :
                          description: uuid
                          type: string
                      new: 
                          description: true if new uuid generated
                          type: boolean
              example:
                uuid: dbc30bc0-5a4b-11e8-955f-6d17ec7a2f77
                new: true  

        '500':
          description: Error
          content:
            application/json:
              schema: 
                type: string

      security: []

  #Directory --> Form factors
  '/directory/users/{user_id}/formfactors':
    get:
      tags:
        - User-details-Retrieval
      summary: Get form factor record of the user
      description: >-
        Get the form factor record(s) of the user from the NDI user directory.
      operationId: getFFByUsrId
      parameters:
        - name: user_id
          in: path
          description: >-
            user_id. It should not be sent in plain text, the SHA256 hash value of the
            user id is to be sent, in base64 url encoded format
          required: true
          schema:
            type: string
        - name: preferred
          in: query
          description: >-
            Preferred indicator, set to 'y' to get the user preferred form factor
            record.
          schema:
            type: string             
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: 
                  type: object
                  properties: 
                      ndi_id: 
                        description: The ndi_id of the user
                        type: string
                      uuid:
                        description: The uuid of the user
                        type: string
                      cert_sn:
                        description: The serial number of the digital certificate issued to the end-user for this form factor
                        type: string
                      ff_id: 
                        description: An unique identifier of the for mfactor, specific to the form factor type
                        type: string
                      ff_type:
                        description: This is an id identifying the form factor type
                        type: string
                      ff_host:
                        description: A reference to the device hosting this form factor
                        type: string
                      status:
                        description: The current status of this particular form factor - Active/Suspended/Revoked/Dormant
                        type: string
                      preferred:
                        description: Preference for form factors, Y if it is preferred
                        type: string
                      use_for:
                        description: The permitted usage of the form factor (eg. Authentication signing)
                        type: string
                      ial:
                        description: The identity assurance level (IAL) achieved for form factor. Based on  <a href="https://pages.nist.gov/800-63-3/sp800-63a.html">NIST SP 800-63A</a>.
                        type: number 
                      ia_meth:
                        description: This is a list of references of the identity assurance methods performed on this form factor
                        type: array
                      ff_attr: #ff_attr is another object
                        description: This is identity provider/form factor-specific, containing a list of attributes in a JSON (name-value) structure. For NDI Soft token, this includes attributes like device push notification registration id, token id, etc. For mobile-SIM based form factor, this list may include MSISDN, subscriber MNO, etc. The ASP uses this attributes identify the location of the form factor in order to route the authentication request
                        type: object
                        properties:
                          telegram:
                            description: Telegram number
                            type: number
                          wp_sub: #another object
                            type: object
                            properties:
                              endpoint: 
                                description: End point url
                                type: string
                              expirationTime:
                                type: string
                              keys:
                                type: object
                                properties: 
                                 p256dh:
                                  type: string
                                 auth:
                                  type: string
                      req_by:
                        description: Requested by.
                        type: string
                      created_t:
                        description: The datetime where the identity is created
                        type: string
                      updated_t:
                        description: The datetime where the identity is updated
                        type: string
                      sig:
                        type: string
                      id:
                        type: string

                  example:
                    ndi_id: demoUser
                    uuid: 625278f0-4891-11e8-957e-876e5c8af19d
                    cert_sn: 1524664989666 (0x162fd1d77e2)
                    ff_id: 625f9850-4891-11e8-b38f-6ffa7749e7ce
                    ff_type: demokeys
                    ff_host: KSM
                    status: active
                    preferred: y
                    use_for: authn
                    ial: 1
                    ia_meth: [\"demoia\"]
                    ff_attr:
                      telegram: 6581270264
                      wp_sub: 
                        endpoint: https://fcm.googleapis.com/fcm/send/dWGDA2UmDqU:APA91bEfltUVCVqMgqEzZdMFOoTTUtMl8URxecPq5wSystvLvRqi24fT3VFO4lgYhvTcMVGTZ5vstnYebLYKdq1EJCx4_ZSPShwfeTttwZpF2XVr6SOtaOU7TEj51azI9Fl97RI-Dxut\
                        expirationTime: null
                        keys:
                          p256dh: BGFg3KxWFKa6pPPKG7YYgOLJ8bMoNUXzh5PznQcV-ozK00bOjF1VKIbzHhjfiNSPwJ99yII_2VLloPU5G6XLyIo=
                          auth: OtHLBXkG4uxO__X5yYAOmQ==/
                    req_by: undefined
                    created_t: 2018-04-25T02:03:09.000Z
                    updated_t: 2018-04-25T02:03:27.000Z
                    sig: null
                    id: null

        '500':
          description: Error
          content:
            application/json:
              schema: 
                  type: object
                  properties: 
                      err_msg :
                          description: error message
                          type: string

      security: []

  '/directory/users/formfactors/enrolments':
    post:
      tags:
        - Form-Factor-Updates
      summary: Start form factor enrolment for a given uui
      description: >-
        Create a form factor enrolment for a user already existing in the NDI user directory.
      operationId: enrolFF
      requestBody:
        required : true
        content:
          application/json:
            schema:      # Request body contents
              type: object
              properties:
                ndi_id:
                  type: string
                  description: The ndi_id of the user
              example:
                ndi_id: demoUser
      responses:
        '201':
          description: Success
          content: 
            application/json:
              schema:
                type: object
                properties:
                  uuid: 
                    description: The uuid of the user
                    type: string
                example:
                  uuid: 625278f0-4891-11e8-957e-876e5c8af19d
                  

        '500':
          description: Error
          content: 
            application/json:
              schema:
                type: object
                properties:
                  error_msg: 
                    description: Error message. The ndi_id that was passed in could have already existed.
                    type: string
                example: 
                  error_msg: "Error: ER_DUP_ENTRY: Duplicate entry 'undefined-95af1f70-3755-11e8-afb5-31e1a62f6285-0000' for key 'unique_ff"
                  

      security: []

  '/directory/users/formfactors/activations':
    put:
      tags: 
          - Form-Factor-Updates
      summary: Register (activate) a new form factor for the user
      description: This is the completion step for the enrolment instance started by the client calling the enrolFF API of the DS.  Essentially it updates the enrolment form factor record created earlier with the form factor data given in the request.
      operationId: registerFF
      requestBody: 
        required: true
        content:
          application/json: 
            schema:
              type: object
              properties: 
                ndi_id: 
                  description: The ndi_id of the user
                  type: string
                uuid:
                  description: The uuid of the user
                  type: string
                cert_sn:
                  description: The serial number of the digital certificate issued to the end-user for this form factor
                  type: string
                ff_id: 
                  description: An unique identifier of the for mfactor, specific to the form factor type
                  type: string
                ff_type:
                  description: This is an id identifying the form factor type
                  type: string
                ff_host:
                  description: A reference to the device hosting this form factor
                  type: string
                status:
                  description: The current status of this particular form factor - Active/Suspended/Revoked/Dormant
                  type: string
                preferred:
                  description: Preference for form factors, Y if it is preferred
                  type: string
                use_for:
                  description: The permitted usage of the form factor (eg. Authentication signing)
                  type: string
                ial:
                  description: The identity assurance level (IAL) achieved for form factor. Based on  <a href="https://pages.nist.gov/800-63-3/sp800-63a.html">NIST SP 800-63A</a>.
                  type: number 
                ia_meth:
                  description: This is a list of references of the identity assurance methods performed on this form factor
                  type: array
                ff_attr: #ff_attr is another object
                  description: This is identity provider/form factor-specific, containing a list of attributes in a JSON (name-value) structure. For NDI Soft token, this includes attributes like device push notification registration id, token id, etc. For mobile-SIM based form factor, this list may include MSISDN, subscriber MNO, etc. The ASP uses this attributes identify the location of the form factor in order to route the authentication request
                  type: object
                req_by:
                  description: Requested by.
                  type: string

      responses:
        '200':
          description: Success
          content: 
            application/json:
              schema:
                type: object

        '400':
          description: "Invalid Enrolment"
          content:
            application/json:
              schema:
                type: object
                properties:
                  err_msg: 
                    description: Error message for invalid enrolment
                    type: string
                
                example:
                  err_msg: "invalid enrolment"
      security: []

  '/directory/users/formfactors/{ff_id}':
    put:
      tags:
        - Form-Factor-Updates
      summary: Update status, cert serial or form factor attributes of a user using form factor id
      description: "Update status, cert serial, or form factor attributes by form factor id.
                    The ff_id of the user is passed into the URL path in the mentioned format.<br/><br/>
                    The fields to be changes will be included in the request body. The request fields are exclusive and
                    only required fields to be changed have to be included. The fields for the request body includes: </br>
                  <table>
                  <tr><th>S/N</th><th>Request Attribute</th><th>Description</th><tr>
                  <tr><td>1.</td> <td>status</td> <td>The status of the form factor. This update is usually done
                              when there is a cert revocation </tr>
                  <tr><td>2.</td> <td>cert_sn</td> <td>The certificate serial number to change to. This update is
                              usually done when there is a cert renewal</td> </tr>
                  <tr><td>3.</td> <td>ff_attr</td> <td>The form factor attributes, in JSON format. This update is
                              done when there is a form factor specific change, e.g. the
                              push notification registration token of the host mobile
                              device was refreshed </td></tr>
                    <table>"
      operationId: updateFFById
      parameters:
        - name: ff_id
          in: path
          description: ff_id of the user 
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  description: Field is optional. This modifies the status of a particular ndi_id
                  type: string
                cert_sn:
                  description: Field is optional. This modifies the cert_sn of a particular ndi_id
                  type: string
                ff_attr:
                  description: Field is optional. This modifies the ff_attr of a particular ndi_id
                  type: string
              example:
                status: Active/Suspended/Revoked/Dormant
                cert_sn: 0000
                ff_attr: {}
      responses: 
        '200':
          description: "Sucess"
          content: 
            application/json:
              schema:
                type: object
        '404':
          description: "Error"

  '/directory/clients/{client_id}':
    get: 
      tags: 
        - Client-App
      summary: Get attributes of the registered client app
      description: Get the client app attributes of the registerd client app, by client id.
      operationId: getClientAppAttrById
      parameters:
        - name: client_id
          in: path
          description: The client ID of the client
          required: true
          schema:
              type: string
      responses:
        '200':
          description: "Sucess"
          content:
            application/json:
                schema:
                    type: object
                    properties:
                        client_id:
                          description: The client's ID
                          type: string
                        app_name: 
                          description: The name of the client (app)
                          type: string
                        domain_name:
                          description: The domain name of the client
                          type: string
                        resp_type:
                          type: string
                        redirect_uri:
                          description: The redirect URI
                          type: string
                        auth_method:
                          description: The authentication method
                          type: string
                        client_secret:
                          description: The secret shared between the client and server
                          type: string
                        scope:
                          type: string
                    example:
                        client_id: demohdbapp2
                        app_name: demohdbapp2
                        domain_name: hdbapp2.ndidemo.cf
                        resp_type: code
                        redirect_uri: https://ndi.sg.io.3051/demowapp/dhdb/cpfcode
                        auth_method: basic
                        client_secret: secret
                        scope: openid demohdbapp
        '404':
          description: "Not found"

#=============================== Directory User end ===========================   